* {
    margin: 0;
    padding: 0;
    transition: all 0.3s ease, background-position 1ms;
}

/* colors */
.green {
    background-color : rgb(150, 250, 150);
}
.light-blue {
    background-color : rgb(170, 220, 250);
}
.blue {
    background-color : rgb(150, 150, 250);
}
.orange {
    background-color : rgb(250, 180, 120);
}
.red {
    background-color : rgb(250, 10, 10);
}